<html> 
    <head>

    </head>

    <body>
        <h1> Figure geometriche</h1>
        <p> Quale vuoi scegliere:</p>
        <form action="/sceltaFigure" method="get">
            <select name="figure">
                <option value="Cerchio">Cerchio</option>
                <option value="Rettangolo">Rettangolo</option>
                <option value="Quadrato">Quadrato</option>
                <option value="Pentagono">Pentagono</option>
            </select><br><br>
            <input type="submit" value='invia'>
        </form>
    </body>

</html>